<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
</head>

<body class="bg-dark">
  <div class="container pt-1 pb-2">
    <div class="card card-register mx-auto">
      <div class="card-header">Register an Account</div>
      <div class="card-body mt-2">
        <form #registerForm="ngForm">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputName">First name</label>
                <input class="form-control" id="inputName" type="text" placeholder="Enter first name"
                  required [(ngModel)]="model.first_name" name="first_name">
              </div>
              <div class="col-md-6">
                <label for="inputLastName">Last name</label>
                <input class="form-control" id="inputLastName" type="text" placeholder="Enter last name"
                  required [(ngModel)]="model.last_name" name="last_name">
              </div>
            </div>
            <div class="form-row pt-3">
            <div class="col-md-6">
              <label for="inputUsername">Username</label>
              <input class="form-control" id="inputUsername" type="text" placeholder="Choose an username"
                required [(ngModel)]="model.username" name="username">
            </div>
            <div class="col-md-6">
              <label for="inputEmail">Email address</label>
              <input class="form-control" id="inputEmail" type="email" placeholder="Enter email"
                required [(ngModel)]="model.email" name="email">
            </div>
          </div>
          <div class="form-row pt-3">
            <div class="col-md-6">
              <label for="inputSkills">Skills</label>
              <input class="form-control" id="inputSkills" type="text" placeholder="List your skills"
                 [(ngModel)]="model.skills" name="skills">
            </div>
            <div class="col-md-6">
              <label for="inputLinkedin">LinkedIn URL</label>
              <input class="form-control" id="inputLinkedin" type="text" placeholder="Enter your LinkedIn profile"
                 [(ngModel)]="model.linkedin_url" name="linkedin_url">
            </div>
          </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputPassword">Password</label>
                <input required class="form-control" id="inputPassword" type="password" placeholder="Password"
                required [(ngModel)]="model.password" name="password">
              </div>
              <div class="col-md-6">
                <label for="confirmPassword">Confirm password</label>
                <input required class="form-control" id="confirmPassword" type="password" placeholder="Confirm password"
                required [(ngModel)]="model.repassword" name="repassword">
              </div>
            </div>
          </div>
          {{diagnostic}}
          <div [hidden]="!submitted">
          <ngb-alert type="success" (close)="closeAlert(alert)">Successfully registered!</ngb-alert>
        </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="newUser(); registerForm.reset()">Register</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" routerLink="/login">Login Page</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
