<div class="card-column" *ngIf="job">
  <div class="card mb-3 px-3 py-3">
    <div class="card-body-desc mb-3">
      <h6 class="card-title mb-1">{{job.title}}</h6>
      <h5>{{job.description}}</h5>
      <p class="card-text">Pay: {{job.pay}} $TYNE</p>
      <p class="card-text">Est. Time: 4 weeks</p>
      <span class="badge badge-pill badge-primary px-2 py-1 mr-2">{{job.skills}}</span>
      <span class="badge badge-pill badge-primary px-2 py-1">Solidity</span>
      <span class="badge badge-pill badge-primary px-2 py-1 mx-2">Ethereum</span>
    </div>
    <hr class="my-0">
    <div class="card-body py-2 small">
      <a class="mr-3 d-inline-block" href="#">
        <i class="fa fa-fw fa-thumbs-up"></i>Favorite</a>
      <a class="mr-3 d-inline-block" href="#">
        <i class="fa fa-fw fa-comment"></i>Message</a>
      <a class="d-inline-block" href="#">
        <i class="fa fa-fw fa-share"></i>Refer</a>
    </div>

    <div class="card-footer small text-muted">Posted 32 mins ago</div>
  </div>

</div>
