<!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">  <i class="fa fa-newspaper-o"></i> Jobs Feed</li>
    </ol>

    <div class="row">
      <div class="col-md-10 mb-3">
      </div>
      <div class="col-md-2" style="float:right;">
        <button type="submit" class="btn btn-primary breadcrumb-item" id="postjobbutton" routerLink="/postjob">Post new job</button>
      </div>
    </div>


<div class="card-column my-3">
  <div *ngFor="let jobcard of jobcards">
    <div class="card mb-3 px-3 py-3">
      <div class="card-body-desc mb-3"  routerLink="/job/{{jobcard.jobs_id}}">
        <h6 class="card-title mb-1">{{jobcard.title}}</h6>
        <p class="card-text">Pay: {{jobcard.pay}}$TYNE</p>
        <p class="card-text">Est. Time: 4 weeks</p>
        <p class="card-text">{{jobcard.jobs_id}}</p>
        <span class="badge badge-pill badge-primary px-2 py-1 mr-2">{{jobcard.skills}}</span>
        <span class="badge badge-pill badge-primary px-2 py-1">Solidity</span>
        <span class="badge badge-pill badge-primary px-2 py-1 mx-2">Ethereum</span>

      </div>
      <hr class="my-0">
      <div class="card-body py-2 small">
        <a class="mr-3 d-inline-block" href="#">
          <i class="fa fa-fw fa-thumbs-up"></i>Favorite</a>
        <a class="mr-3 d-inline-block" href="#">
          <i class="fa fa-fw fa-comment"></i>Message</a>
        <a class="d-inline-block" href="#">
          <i class="fa fa-fw fa-share"></i>Refer</a>
      </div>

      <div class="card-footer small text-muted">Posted 32 mins ago</div>
    </div>

  </div>
</div>
